.center{
    display: flex;
    text-align: center !important;
    align-items: center !important;
    padding-top: 20px;
}
.container{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}